* {
    padding: 0%;
    margin: 0%;
}
nav {
    display: flex;
    flex-direction: row;
    gap: 1.0rem;
    line-height:2.5em;
    padding: 20px;
    font-size: 1.5rem;
    background-color: black;
}
#color1 {
    color: red;
}
#color2 {
    background-color: blue;
    color: white;
    border-radius: 0.5rem;
    padding:0.1rem;
}

.cal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 1.7rem;

}
input {
    padding: 5px;
    outline: none;
    font-size: 1.4rem;
    border-radius: 7px;
}
.padding {
    padding: 30px;
}

#btn {
    padding: 5px;
    align-self: center;
    width: 100px;
    position: relative;
    left: 195px;
    color: red;
    border-radius: 5px;
    outline:none;
}
#btn:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}

.showinfo {
    font-style: oblique;
    font-weight: bolder;
    border-radius: 4rem;
    padding: 0.5rem;
    text-align: center;
}
@media only screen and (max-width:667px) {
    #btn{
        position: relative;
        left: 100px;
    }
}